---
import Layout from "~layouts/index.astro"
---

<Layout>
	<article>
		<h1>Terms of use</h1>
		<p>By viewing and using this site, you agree to these terms of use.</p>
		<section>
			<h2>Agreement to terms of use</h2>
			<p>
				Welcome to Capo.nz (the &ldquo;site&rdquo; ), a website hosted and
				operated by Capo Strategies Ltd. (&ldquo;we,&rdquo; &ldquo;our,&rdquo;
				&ldquo;Capo&rdquo;).
			</p>
			<p>These terms apply to:</p>
			<ol>
				<li>the entire contents of the site</li>
				<li>to any web feeds produced by the site</li>
				<li>to any feedback or submissions provided through the site</li>
				<li>By viewing and using the site, you agree to these terms of use.</li>
			</ol>
		</section>
		<section>
			<h2>Disclaimer</h2>
			<p>Capo disclaims and excludes all liability for any</p>
			<ol>
				<li>claim</li>
				<li>loss</li>
				<li>
					demand or damages of any kind whatsoever (including for negligence)
				</li>
			</ol>
			<p>
				that arise out of or in connection with the use of either this website
				or the
			</p>
			<ol>
				<li>information</li>
				<li>content</li>
				<li>or materials</li>
			</ol>
			<p>included on this site or on any website we link to.</p>
		</section>
		<section>
			<h2>Continuity of service</h2>
			<p>
				Capo makes no warranty or representation, express or implied, about
				continuity of service. We reserve the right to suspend, end, or
				otherwise alter access to some or all the site&rsquo;s services. We may
				do so at any time and without notice.
			</p>
		</section>
		<section>
			<h2>Your information</h2>
			<p>
				We may treat any material you send or post publicly to the site as
				non-confidential. This includes feedback or submissions you provide. It
				excludes personal information covered in our privacy policy.
			</p>
		</section>
		<section>
			<h2>Copyright</h2>
			<p>
				Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA
				4.0). That&rsquo;s our license. This license protects all content on the
				Capo.nz site. Follow the link for more details.
			</p>
			<p>
				Under the terms of the CC BY-NC-SA 4.0 license, you must attribute the
				content borrowed from us to Craft-Code.dev. You may not repurpose it for
				commercial use.
			</p>
			<p>We recognize fair use, of course, with attribution.</p>
		</section>
		<section>
			<h2>Revisions to terms of use</h2>
			<p>
				Capo may revise these terms of use at any time. Any such revisions take
				effect upon publication here of the revised terms.
			</p>
			<p>
				<a href="mailto:inspireme@capo.co.nz?subject=Diagnostics">Contact us</a>
				for further information (021 795 724.
			</p>
		</section>
	</article>
</Layout>
