body > header {
	background-color: var(--header-background-color, #005994);
	color: var(--header-foreground-color, #fff);
	display: grid;
	font-family: var(--font-body);
	grid-column: viewport-start / viewport-end;
	grid-row: header-top / header-bottom;
	grid-template-columns:
		[viewport-start] var(--gutter-width, 4vw)
		[header-start] auto
		[header-end] var(--gutter-width, 4vw)
		[viewport-end];
	max-height: fit-content;
	padding: var(--space-xs) 0;
}
