---
import Layout from "~layouts/index.astro"
---

<Layout>
	<article>
		<h1>Our privacy policy</h1>
		<section>
			<h2>Introduction</h2>
			<p>
				This Privacy Policy applies to all the products, services, websites, and
				apps offered by Capo Strategies Ltd., except where otherwise noted. We
				refer to those products, services, websites, and apps collectively as
				the &ldquo;services&ldquo; in this policy. Unless otherwise noted, our
				services are provided by Capo Strategies Ltd in New Zealand, the United
				States, Europe, and the United Kingdom.
			</p>
			<p>
				References to &ldquo;data&rdquo; in this Privacy Policy will refer to
				whatever data you use our services to collect, whether it be survey
				responses, data collected in a form, or data inserted on a site hosted
				by us – it&rsquo;s all your data. Reference to personal information or
				just information, means information about you personally that we collect
				or for which we act as custodians.
			</p>
		</section>
		<section>
			<h2>Information we collect</h2>
			<p>
				You have signed up and agreed to take business diagnostic surveys,
				forms, applications, or questionnaires, commenting on, or reviewing
				surveys, forms, applications, or questionnaires within an account.
			</p>
			<ol>
				<li>
					<p>
						<strong
							>Contact information (for example name or email address)</strong
						>
					</p>
					<p>
						You might provide us with your contact information, whether through
						the use of our services, a form on our website, an interaction with
						our employees, or a response to one of our own survey tools.
					</p>
				</li>
				<li>
					<p><strong>Device and browser data</strong></p>
					<p>
						We collect information from the device and application you use to
						access our services. Device data mainly means your IP address,
						operating system version, device type, device ID/MAC address, system
						and performance information, and browser type. If you are on a
						mobile device we also collect the UUID for that device.
					</p>
				</li>
				<li>
					<p><strong>Log data</strong></p>
					<p>
						Like most websites today, our web servers keep log files that record
						data each time a device accesses those servers. The log files
						contain data about the nature of each access, including originating
						IP addresses, internet service providers, the files viewed on our
						site (e.g., HTML pages, graphics, etc.), operating system versions,
						device type, and timestamps.
					</p>
				</li>
			</ol>
		</section>
		<section>
			<h2>How we use the information we collect</h2>
			<p>
				We process personal data about you either with your consent or in order
				to:
			</p>
			<ul>
				<li>
					Fulfil our contractual responsibility to deliver the services to you;
				</li>
				<li>
					To pursue Capo Strategies Ltd&rsquo;s legitimate interests of:
					<ul>
						<li>improving service experience;</li>
						<li>developing new products and service features.</li>
					</ul>
				</li>
			</ul>
		</section>
		<section>
			<h2>Information we share</h2>
			<p>
				We do not share your information or data with third parties outside Capo
				Strategies Ltd except in the following limited circumstances:
			</p>
			<ul>
				<li>
					Meet any applicable law, regulation, legal process, or enforceable
					governmental request.
				</li>
				<li>
					Enforce applicable policies, including investigation of potential
					violations.
				</li>
				<li>
					Detect, prevent, or otherwise address fraud, security, or technical
					issues.
				</li>
				<li>
					Protect against harm to the rights, property or safety of our users,
					the public, or to Capo Strategies Ltd and/or as required or permitted
					by law.
				</li>
			</ul>
		</section>
		<section>
			<h2>Data Retention</h2>
			<p>
				If you hold an account with Capo Strategies Ltd we do not delete the
				data in your account – you are responsible for and control the time
				periods for which you retain this data. There are controls in your
				account where you can delete data at the account level (all data in your
				account) and at the response level.
			</p>
		</section>
		<section>
			<h2>Changes to our Privacy Policy</h2>
			<p>
				We can make changes to this Privacy Policy from time to time. We will
				identify the changes we have made on this page. In circumstances where a
				change will materially change the way in which we collect or use your
				personal information or data, we will send a notice of this change to
				all of our account holders.
			</p>
		</section>

		<section>
			<h2>Your rights</h2>
			<p>
				You may wish to exercise a right to obtain information about yourself or
				to correct, update or delete that information. Some of these rights may
				be subject to some exceptions or limitations in New Zealand, United
				States, Europe or United Kingdom laws. Please note your rights and
				choices vary depending upon your location.
			</p>
			<p>
				We will take reasonable steps to verify your identity and we will
				respond to your request to exercise these rights within a reasonable
				time (and in all cases within 30 days of receiving a request) subject to
				the below for specific categories of person. Where you hold an account
				for Capo Strategies Ltd services, you are entitled to a copy of all
				personal data which we hold in relation to you.
			</p>
			<p>
				You also may be entitled to request that we restrict how we use your
				data or object to some aspect of our treatment of your data. You can
				access a lot of your data in your own account when you log in. If you
				want to exercise your rights, please contact us here.
			</p>
		</section>
	</article>
</Layout>
