---
import Layout from "~layouts/index.astro"
---

<Layout>
	<article>
		<h1>Our cookie policy</h1>
		<p>
			The <strong>capo.nz</strong> website does not use cookies and stores no information.
		</p>
	</article>
</Layout>
