---
import Layout from "~layouts/index.astro"

// export const metadata: Partial<PageMeta> = {
//   author: "Charles F. Munat, coder@craft-code.dev",
//   carbon: {},
//   keywords: [],
//   label: "Home",
//   next: "/contact",
//   pageTitle: "Home ~ Jake Baxendale",
//   prev: "/",
//   title: "Home",
// };

// const { title } = metadata;
---

<Layout>
	<article>
		<h1>Our cookie policy</h1>
		<p>
			The <strong>capo.nz</strong> website does not use cookies and stores no information.
		</p>
	</article>
</Layout>
