---
import "./index.css"

import FooterNav from "./FooterNav/index.astro"
---

<footer>
	<p class="copyright">
		&copy; 2024 by <a
			href="https://capo.one/"
			rel="external"
			>capo.</a
		>
	</p>
	<FooterNav />
</footer>
