footer {
	background-color: #66c3ff;
	color: hsl(0deg, 0%, 0%);
	display: grid;
	grid-column: viewport-start / viewport-end;
	grid-row: footer-top / footer-bottom;
	grid-template-columns:
		[footer-start] var(--gutter-width, 4vw)
		[left-column-start] min-content
		[left-column-end] 1vw
		[right-column-start] auto
		[right-column-end] var(--gutter-width, 4vw)
		[footer-end];
	font-family: var(--font-body);
	max-height: fit-content;
	padding: var(--space-xs) 0;
}

footer > * {
	margin: 0;
	padding: 0;
}

footer > .copyright {
	grid-column: left-column-start / left-column-end;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

nav {
	grid-column: right-column-start / right-column-end;
}

nav > ul {
	align-items: center;
	display: flex;
	gap: 0;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a,
nav li {
	color: hsl(0deg, 0%, 0%);
	letter-spacing: 0.5px;
	text-transform: lowercase;
	white-space: nowrap;
}

nav a {
	border-radius: 1px;
	outline: 2px solid transparent;
	outline-offset: 3px;
	text-decoration: none;
}

footer > .copyright a {
	border-radius: 1px;
	color: hsl(0deg, 0%, 0%);
	letter-spacing: 0.5px;
	outline-offset: 3px;
	outline: 2px solid transparent;
	text-decoration: none;
	text-transform: lowercase;
	white-space: nowrap;
}

nav a:focus,
nav a:hover,
footer > .copyright a:focus,
footer > .copyright a:hover {
	outline: 2px solid var(--body-color);
}

nav li > span {
	background-color: var(--body-color);
	color: var(--body-background-color);
	padding: 0.25rem 0.5rem;
}

nav li:not(:first-child)::before {
	content: "\2219";
	display: inline-block;
	padding: 0 0.2rem 0 0.5rem;
}

@media screen and (width <= 720px) {
	footer {
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr;
		padding: var(--space-m) var(--space-xl);
		row-gap: var(--space-l);
	}

	footer > .copyright {
		text-align: end;
	}

	nav > ul {
		align-items: flex-end;
		flex-direction: column;
		gap: 1rem;
		justify-content: flex-end;
	}

	nav li::before {
		content: none !important;
	}
}
