---
import "./index.css"

import { DIAGNOSTICS_TOOL } from "~constants"
import Category from "./Category/index.astro"
import Honeypot from "~components/Honeypot/index.astro"
---

<article>
	<h1>Business Diagnostics Tool</h1>
	<p class="landscape-prompt">
		<img
			alt=""
			height="24"
			src="/images/landscape-mode.svg"
			style="float: left; margin: 0.5rem 0.5rem 0.5rem 0;"
		/>
		For ease of use, please turn your phone a quarter turn to landscape orientation.
	</p>
	<p>
		Welcome to the Capo Growth Navigator, your comprehensive solution for
		evaluating and enhancing various aspects of your business. This tool covers
		critical business areas. Each section is designed to help you reflect on key
		performance indicators, identify gaps, and implement effective strategies
		for improvement.
	</p>
	<p>
		By regularly assessing these areas, you can ensure sustained growth and
		success for your business. We use this tool to gain actionable insights and
		help you drive your business forward.
	</p>
	<form
		action="/api/results"
		id="diagnostics-tool"
		method="POST"
	>
		{
			DIAGNOSTICS_TOOL.map(({ category, description, questions }, index) => (
				<Category
					{category}
					{description}
					{questions}
					{index}
				/>
			))
		}
		<button type="submit">Get your results</button>
		<Honeypot password="shizmo666" />
	</form>
</article>

<div class="performance">
	<div>
		Accessibility: AAA as measured by <a
			href="https://www.deque.com/axe/"
			rel="external"
			>axe DevTools Pro</a
		> WCAG 2.2.
	</div>
	<div>
		<a
			href="https://www.websitecarbon.com/website/capo-nz/"
			rel="external"
			>Cleaner than 100%
		</a>of all web pages globally:
		<a
			href="https://digitalbeacon.co/report/capo-nz"
			rel="external"
			>0.004 grams</a
		> first load, 0.002 grams return visits.
	</div>
	<div>
		Overall this web page has been graded A+ when it comes to its carbon
		footprint.
	</div>
</div>
