---
import "./index.css"

import { DIAGNOSTICS_TOOL } from "~constants"
import Category from "./Category/index.astro"
import Honeypot from "~components/Honeypot/index.astro"
---

<article>
	<h1>Business Diagnostics Tool</h1>
	<p class="landscape-prompt">
		<img
			alt=""
			height="24"
			src="/images/landscape-mode.svg"
			style="float: left; margin: 0.5rem 0.5rem 0.5rem 0;"
		/>
		For ease of use, please turn your phone a quarter turn to landscape orientation.
	</p>
	<form
		action="/api/results"
		id="diagnostics-tool"
		method="POST"
	>
		{
			DIAGNOSTICS_TOOL.map(({ category, questions }, index) => (
				<Category
					{category}
					{questions}
					{index}
				/>
			))
		}
		<button type="submit">Get your results</button>
		<Honeypot password="shizmo666" />
	</form>
</article>
