form > button {
	background-color: var(--submit-button-background-color);
	border: 1px solid var(--submit-button-border-color);
	border-radius: 5px;
	color: var(--submit-button-foreground-color);
	padding: 0.5rem;
	text-transform: uppercase;
}

form > button:focus,
form > button:hover {
	background-color: var(--submit-button-background-color-hover);
	border: 1px solid var(--submit-button-border-color-hover);
	color: var(--submit-button-foreground-color-hover);
	outline: 2px solid var(--submit-button-outline-color);
	outline-offset: 3px;
}
