---
import "./index.css"

import { DIAGNOSTICS_TOOL } from "~constants"
import Category from "./Category/index.astro"
import Honeypot from "~components/Honeypot/index.astro"
---

<article>
	<h1>Business Diagnostics Tool</h1>
	<p class="landscape-prompt">
		<img
			alt=""
			height="24"
			src="/images/landscape-mode.svg"
			style="float: left; margin: 0.5rem 0.5rem 0.5rem 0;"
		/>
		For ease of use, please turn your phone a quarter turn to landscape orientation.
	</p>
	<form
		action="/api/results"
		id="diagnostics-tool"
		method="POST"
	>
		{
			DIAGNOSTICS_TOOL.map(({ category, questions }, index) => (
				<Category
					{category}
					{questions}
					{index}
				/>
			))
		}
		<button type="submit">Get your results</button>
		<Honeypot password="shizmo666" />
	</form>
</article>

<div class="performance">
	<div>
		Accessibility: AAA as measured by <a
			href="https://www.deque.com/axe/"
			rel="external"
			>axe DevTools Pro</a
		> WCAG 2.2.
	</div>
	<div>
		<a
			href="https://www.websitecarbon.com/website/capo-nz/"
			rel="external"
			>Cleaner than 100%
		</a>of all web pages globally:
		<a
			href="https://digitalbeacon.co/report/capo-nz"
			rel="external"
			>0.004 grams</a
		> first load, 0.002 grams return visits.
	</div>
	<div>
		Overall this web page has been graded A+ when it comes to its carbon
		footprint.
	</div>
</div>
