form > button {
	background-color: hsl(158deg, 80%, 22%);
	border: 1px solid hsl(158deg, 80%, 12%);
	border-radius: 5px;
	color: hsl(0deg, 0%, 100%);
	padding: 0.5rem;
	text-transform: uppercase;
}

form > button:focus,
form > button:hover {
	outline: 2px solid hsl(158deg, 80%, 42%);
	outline-offset: 3px;
}
